@model IEnumerable<APIREST.MongoDB.Data.TVProgram>

@{
    ViewData["Title"] = "All TV Programs";
}

<h1>All TV Programs</h1>

<p>
    <a asp-action="CreateTVProgram">Create New TV Program</a>
</p>

@if (TempData["message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["message"].ToString()
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Driver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TVChannel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThereAreGuests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsLiveBroadcast)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Driver)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Schedule)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TVChannel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThereAreGuests)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsLiveBroadcast)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditTVProgram", new { id = item.Id }) |
                    @Html.ActionLink("Details", "GetTVProgramDetails", new { id = item.Id }) |
                    <button type="button" class="btn btn-link" data-idprogram="@item.Id">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete a TV Program</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this TV Program?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                 <a id="deleteFromModal" href="#" class="btn btn-danger" role="button">Yes, delete this TV Program</a>
            </div>
        </div>
    </div>
</div>